.col-xs-12 {
    height: 50px;
    background-color: black;
}
#register{
    margin-top: 120px;
}
.navbar-inverse {
    background-color: darkgray;
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
    color: #141C21;
}
.navbar-inverse .navbar-nav>li>a {
    color: #1F1C1C;
}
#nav-color {
    color: black;
}
#profile-right {
    left: 1050px;
}
#div-indent {
    padding: 90px;
    padding-top: 50px;
    padding-left: 50px;
}
.col-xs-10 {
    height: 50px;
}
#course-color {
    color: cornflowerblue;
}
#course-color {
    color: darkred;
}
#course-description {
    color: burlywood;;
}
#start-date {
    color: cadetblue;
}
#end-date {
    color: indianred;
}
#sujects-of-course {
    padding-top: 100px;
}
#status {
    color: blue;
}
#course-detail-color {
    color: slateblue;
}
#status-color {
    color: forestgreen;
}
